<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlineclothingstore">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">
        <activity
            android:name=".item_and_category_management.DisplayCategory"
            android:exported="true" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".item_and_category_management.AddCategory"
            android:exported="true">

        </activity>
        <activity android:name=".user_and_payment_management.User" />
        <activity android:name=".request_and_review_management.Request" />
        <activity android:name=".cart_and_order_management.Cart" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>